<template>
  <div class="center">
    <h1>{{ counter }}</h1>
    <button @click.right="counterUp">Counter UP</button>
    <button @click.middle="counterDown">Counter Down</button>
    <button @click="counterReset">Reset</button>
  </div>
</template>

<script>
export default {
  name: "CounterView",
  data(){
    return {
        counter: 0,
    }
  },
  methods:{
    counterUp(){
        this.counter++
    },
    counterDown(){
        this.counter--
    },
    counterReset(){
        this.counter = 0
    }
  }
};
</script>

<style>
h1{
    color: red;
}
*{
    text-align: center;
}
</style>