<template>
  <div>
    <h1>{{ msg }}</h1>
    <!-- <h2>{{ name }} {{ position }}</h2>
    <button v-on:click="changeName(45),changePosition('CEO')">Change name</button> -->
    <p>Name: {{ name }} Password: {{ password }}</p>
    <input type="text" @input="getInput($event, 'Wangrat')" />
    <input type="text" @input="getPassword" />
  </div>
</template>

<script>
export default {
  name: "HandleView",
  data: () => {
    return {
      name: "",
      msg: "Event Handling",
      position: "Developer",
      password: "",
    };
  },
  methods: {
    changeName(ageParams) {
      this.name = "Ying yai" + " , Age: " + ageParams;
    },
    changePosition(positionNew) {
      this.position = positionNew;
    },
    getInput(event, lastname) {
      this.name = event.target.value + "\t" + lastname;
      console.log(event);
    },
    getPassword(event) {
      this.password = event.target.value;
      console.log(event);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>